<div class="navs">
<nav id="v-nav">
    <div class="v-nav-item"><a href="">link  1</a></div>
    <div class="v-nav-item"><a href="">link  2</a></div>
    <div class="v-nav-item"><a href="">link  3</a></div>
    <div class="v-nav-item"><a href="">link  4</a></div>
    <div class="v-nav-item"><a href="">link  5</a></div>
    <div class="v-nav-item"><a href="">link  6</a></div>
</nav>
<nav id="h-nav">
    <div class="h-nav-item"><a href="">link  1</a></div>
    <div class="h-nav-item"><a href="">link  2</a></div>
    <div class="h-nav-item"><a href="">link  3</a></div>
    <div class="h-nav-item"><a href="">link  4</a></div>
    <div class="h-nav-item"><a href="">link  5</a></div>
</nav>
</div>