<div class="backdrop" (click)="closePopup()">
    <div class="intent-add">
        <div class="intent-name">
            <h4>Intent Name</h4>
            <p>Intent represents a task that instinct AI needs to carry out.</p>
            <input type="text" class="input">
        </div>
        <div class="">
            <h4>Add utterance</h4>
            <p>create atleast 5 varients to allow Makerobo's Natural language Understanding (NLU) to automtically match intents with user input. The more utterance you enter the more chance</p>
            <input type="text" class="input">
            <button class="addBtn">+ Add another variation</button>
        </div>
        <div class="">
            <h4>Add reply </h4>
            <textarea class="input" name="" id=""></textarea>
            <button class="addBtn">+ Add random message</button>
        </div>
        <div>
            <button class="createIntentbtn">Create Intent</button>
        </div>
    </div>
</div>