.intent-card{
    margin-top: 2vh;
    padding: 7px 15px;
    border: 1px #c4c4c4 solid;
    border-radius: 3px;
    line-height: 1.5vh;
}
.state{
    margin-top: 5px;
    padding: 0px 10px;
    border: 0.5px solid;
    border-radius: 2px;
    font-size: 1.75vh;
}